* {
    background-color:moccasin;
}
h1 {
    text-align: center;
    color: blueviolet;
    width: auto;
}
h3 {
    margin: 80px 100px;
    text-align: center;
}
p {
    margin: 0;
    color:blue;
    font-size: 20px;
}

#topElements {
    display: flex;
    justify-content: space-between;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons button {
    display: block;
    margin: 10px 30%;
    font-size: 20px;
    border-radius: 8px;
    background-color: gold;
    width: 400px;
}
#buttons button:hover {
    display: block;
    margin: 10px 31%;
    font-size: 20px;
    border-radius: 8px;
    background-color: darkorange;
    cursor: pointer;
    width: 400px;
}
#inputBox {
    display: none;
    justify-content: center;
}
#nameInput {
    width: 300px;
    height: 60px;
    font-size: 30px
    
}
#submitButton {
    background-color: chartreuse;
    color:indigo;
    border-radius: 10px;
}
#submitButton:hover {
    background-color:turquoise;
    border-radius: 10px;
}

#buttonsHighScore {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttonsHighScore button {
    display: block;
    margin: 10px 30%;
    font-size: 20px;
    border-radius: 8px;
    background-color: gold;
    width: 400px;
}
#buttonsHighScore button:hover {
    display: block;
    margin: 10px 31%;
    font-size: 20px;
    border-radius: 8px;
    background-color: darkorange;
    cursor: pointer;
    width: 400px;
}